/*reset di base*/

*{margin:0px;padding:0px;}

html,body, .view-container, .view-frame.ng-scope {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

ul,p {
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

/* end reset di base */

.well {
  background:#174264;
  padding:0;
}

.login {
  position:absolute;
  top:60px;
  opacity:0.9;
  padding-top:100px;
}

/**** FIX per glyphicon che hanno altezza maggiore di input ****/

.input-group .input-group-addon {
  line-height: 1!important;
  top:0px;
}

/**** end FIX ****/

/**** FIX PER INPUT CON MENO PADDING INTERNO ****/

.form-control {
  padding: 3px 3px;
}

.background-default {
  background: url(../images/london-bg.jpg) no-repeat 0 0;
  background-color: #000;
  background-size:100% 100%;
}

#contact {
  background: url(../images/contact.jpg) no-repeat 0 0;
  background-color: #000;
  background-size:100% 100%;
}

#registrazione_agenzia {
  background: url(../images/registrazione_agenzia.jpg) no-repeat 0 0;
  background-color: #000;
  background-size:100% 100%;
}

#privacy {
  background: url(../images/privacy.jpg) no-repeat 0 0;
  background-color: #000;
  background-size:100% 100%;
}

.row_shadow {
  border-top:1px solid white;
  padding-top:15px;
  padding-right:30px;
  padding-bottom:15px;
  padding-left:30px;
  background-color: rgba(0,0,0,0.4);
  border-bottom:1px solid white;
}

/*OVERRIDE DEI MARGINI PER LA CLASSE ROW DI BOOTSTRAP*/
.row {
  margin-left:0px!important;
  margin-right:0px!important;
}

.help-block {
  color: orangered!important;
  font-size:14px;
}

/*OVERRIDE DI BOOTSTRAP CLASSE HAS-ERROR*/
.has-error {
  color: orangered!important;
}

/***************** SPINNER ********************/
#overlay {
  position: fixed;
  z-index:9999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#loading{
  position: fixed;
  z-index:9999;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
}

/***************** END SPINNER ********************/

/**************** BUTTON FILE UPLOAD ****************/

.upload-buttons input[type="file"] {
  width: 6.3em \0/IE9;
}

.upload-button {
  Height: 26px;
  line-height: 30px;
  padding: 0 10px;
  background: #CCC;
  appearance: button;
  -moz-appearance: button; /* Firefox */
  -webkit-appearance: button; /* Safari and Chrome */
  position: relative;
  text-align: center;
  top: 7px;
  cursor: pointer;
}

/**************** END BUTTON FILE UPLOAD ****************/

/**************** PROFILE IMAGE *************************/

#container_image_profile
{
  height:180px;
  width:180px;
  position:relative;
}

.thumb_img
{
  position:absolute;
  left:0;
  top:0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#text_image_profile
{
  z-index:100;
  position:absolute;
  color:white;
  bottom:0;
  background-color: black;
  opacity:0.4;
  padding-left:30px;
  cursor: pointer;
  width:180px;
  margin:0;
}

#text_image_profile:hover
{
  background-color: black;
  opacity:0.8;
}

/**************** END PROFILE IMAGE *************************/

/**************** OVERRIDE PADDING LEFT E RIGHT SULLE COLONNE ****************/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

/**************** END OVERRIDE PADDING LEFT E RIGHT SULLE COLONNE ****************/

/**************** RATING ****************/
.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #fd0;
}
/**************** END RATING ****************/

/**************** READMORE ****************/

article {
  color:#333;
}

/**************** END READMORE ****************/

/**************** OVERRIDE SLIDER PROPERTY ****************/

.jslider div.jslider-value {color:white; background-color: transparent;}

.jslider div.jslider-label {color:white!important;}

/**************** END OVERRIDE SLIDER PROPERTY ****************/

.comment_item {
  border-top: 1px solid #e5e5e5;
  color: #333!important;
  padding: 10px 15px 10px 15px;
}


