<form name="userForm" novalidate ng-controller="HomeCtrl">
  <div class="row_shadow" style="padding: 40px 0px 40px 0px;">
    <div style="margin-left:30px;">
      <h2>ABOUT YOUR AGENCY</h2>
    </div>
    <div class="row_shadow">
      <div style="float:left;"><label>Your rating:</label></div>
      <div style="pointer-events: none;margin-left:15px;margin-bottom:30px;float:left;" id="div_rating"
           class="star-rating"
           star-rating rating-value="userData.RATING/userData.NUM_RATING" data-max="5"></div>
      <div class="clearfix"></div>

      <label>Your feedback:</label>
      <ul class="list-group">
        <div ng-if="comments != NULL">
          <li id="{{$index}}" ng-repeat="comment in comments" ng-transclude-custom class="list-group-item">
            <article>{{comment.COMMENTO}}</article>
            <div class="text-right">
              <button type="button" ng-click="alert(comment.ID); reportAbuse(comment.ID)"
                      class="btn btn-default btn-xs">
                <i class="fa fa-check-square-o">
                  Report abuse
                </i>
              </button>
            </div>
          </li>
        </div>
        <div ng-if="comments == NULL">
          <li class="list-group-item">
            <article>No comment yet</article>
          </li>
        </div>
      </ul>
      <div class="row text-right">
        <a class="btn btn-default" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-comments"> Read All</i>
        </a>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 style="color:black;" class="modal-title" id="myModalLabel">Comments</h4>
      </div>
      <div class="modal-body" style="padding:0px; height:400px; overflow-x: auto;">
        <div class="comment_item" ng-repeat="comment in commentsAll" id="{{$index}}">
          {{comment.COMMENTO}}
        </div>
      </div>
      <!-- end modal content -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  <!-- end myModal -->
</div>
