<form name="userForm" novalidate>
  <div class="row_shadow">
    <h2>ABOUT YOUR AGENCY</h2>
    <div class="panel panel-default well col-xs-10" style="opacity:0.9;">
      <div class="panel-body">

        <div style="float:left;"><label>Your rating:</label></div>
        <div style="pointer-events: none;margin-left:15px;margin-bottom:30px;float:left;" id="div_rating" class="star-rating"
             star-rating rating-value="userData.RATING/userData.NUM_RATING" data-max="5"></div>
        <div class="clearfix"></div>

        <label>Your feedback:</label>
        <div id="ripetizioni_list">
          <ul class="list-group">
            <div ng-if="comments != NULL">
              <li id="{{$index}}" ng-repeat="comment in comments" ng-transclude-custom class="list-group-item" >
                <article>{{comment.COMMENTO}}</article>
                <div class="text-right">
                  <button type="button" ng-click="alert(comment.ID); reportAbuse(comment.ID)" class="btn btn-default btn-xs">
                    <i class="fa fa-check-square-o">
                      Report abuse
                    </i>
                    </button>
                </div>
              </li>
            </div>
            <div ng-if="comments == NULL" >
              <li class="list-group-item"><article>No comment yet</article></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>
</form>

<!-- TODO: questo codice deve essere spostato e poi modificato, non va bene il window load!!-->

<script>

</script>
