<div class="row_shadow" style="padding: 40px 0px 40px 0px;">

  <form name="searchForm" ng-submit="doSearch()" novalidate> <!--disabilito validazione html5-->
    <div style="margin-left:30px;">
      <h2>SEARCH</h2>
    </div>
    <div class="row_shadow">
      <div class="row form-group">
        <!-- FROM LANGUAGE -->
        <label class="col-xs-2 control-label text-right ">From (language):</label>
						<span class="col-sm-3">
              <select class="form-control" name="mothertongueSearchFrom" ng-model="mothertongueSearchFrom" ng-options="mothertongueSearchFrom.DESCRIZIONE for mothertongueSearchFrom in languages"></select>
            </span>
        <!-- TO LANGUAGE -->
        <label class="col-xs-2 control-label text-right ">To (language):</label>
						<span class="col-sm-3">
              <select class="form-control" name="mothertongueSearchTo" ng-model="mothertongueSearchTo" ng-options="mothertongueSearchTo.DESCRIZIONE for mothertongueSearchTo in languages"></select>
            </span>
      </div>

      <!-- FIELD -->
      <div class="row form-group">
        <label class="col-xs-2 control-label text-right ">Field:</label>
						<span class="col-sm-3">
              <select class="form-control" name="field" ng-model="field" required ng-options="field.DESCRIZIONE for field in fields"></select>
            </span>
      </div>

      <!-- DEADLINE -->
      <div class="row form-group">
        <div ng-class="{ 'has-error' : searchForm.field.$invalid && !searchForm.field.$pristine }">
          <label class="col-xs-2 control-label text-right ">Deadline:</label>
          <div id="sandbox-container" style="padding-left:10px;padding-right:10px;" class="input-group date col-sm-3">
            <input type="text" class="form-control" ng-model="deadline" name="deadline" data-provide="datepicker" data-date-format="dd/mm/yyyy"><span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row_shadow" style="margin-top:40px;">

      <!-- SERVICES -->
      <div class="row form-group">
        <label class="col-xs-2 control-label text-right">Service*</label>
						<span class="col-sm-3">
							<select class="form-control" name="service" ng-model="service" required ng-options="service.DESCRIZIONE for service in services"></select>
						</span>
      </div>

      <!-- KTR -->
      <div class="row form-group">
        <label class="col-xs-2 control-label text-right ">KTR:</label>
						<span class="col-sm-3">
              <input type="text" name="field" class="form-control" disabled ng-model="field" placeholder="" data-toggle="tooltip" data-placement="right" title="Name of the Institute">
            </span>
      </div>

      <!-- PRICE RANGE -->
      <div class="row form-group">
        <label class="col-xs-2 control-label text-right">Price Range:</label>

        <span class="col-sm-1">
          <input type="number" name="pricefrom" class="form-control" ng-model="pricefrom"/>
        </span>

        <span class="col-sm-1">
          <input type="number" name="priceto" class="form-control col-sm-2" ng-model="priceto" />
        </span>
      </div>

      <div class="text-center" style="margin-top:10px;">
        <button type="submit" class="btn btn-lg btn-default">
          <i class='fa fa-search' /> Search
        </button>
      </div>

      <div class="clearfix"></div>
    </div>
  </form>
</div>

<div ng-if="certificationList.length !=0">
  <div id="{{$index}}" ng-repeat="certification in certificationList">
    <div class="panel panel-default well col-md-10" style="opacity:0.9;">
      <div class="panel-body">
        <div class="row form-group">
          <!-- INSTITUTE -->
          <label class="col-xs-2 control-label text-right">Institute:</label>
          <span class="col-sm-3">{{certification.INSTITUTE}}</span>
          <!-- DATE -->
          <label class="col-xs-2 control-label text-right">Date:</label>
          <span class="col-sm-3">{{certification.DATE | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="row form-group">
          <!-- CERTIFICATION -->
          <label class="col-xs-2 control-label text-right">Certification:</label>
          <span class="col-sm-3">{{certification.CERTIFICATION}}</span>
        </div>
        <div class="row form-group">
          <!-- LEVEL -->
          <label class="col-xs-2 control-label text-right">Level:</label>
          <span class="col-sm-3">{{certification.LEVEL}}</span>
        </div>
        <!-- DELETE BUTTON -->
        <form name="searchForm" ng-submit="doDeleteCertification(certification.ID)" novalidate> <!--disabilito validazione html5-->
          <div class="text-right" style="margin-top:10px;">
            <button type="submit" class="btn btn-lg btn-success btn-sm">
              <i class='fa fa-times'/> Delete Certification
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div style="clear:both;"></div>
</div><!-- end row shadow -->
