<!-- Home Traduttore -->
<div class="background-default">
	<!-- Profile Section -->
	<div template-snippet name="traduttore/snippet/profileTraduttoreSnippet" id="profileTraduttoreSnippet" style="padding-top:100px;"></div>

	<!-- Languages Pair Section -->
	<div template-snippet name="traduttore/snippet/languagesPairSnippet" id="languagesPairSnippet" style="padding-top:30px;"></div>

	<!-- Ecucation Section -->
	<div template-snippet name="traduttore/snippet/educationTraduttoreSnippet" id="educationTraduttoreSnippet" style="padding-top:30px;"></div>

	<!-- Certification Section -->
	<div template-snippet name="traduttore/snippet/certificationsTraduttoreSnippet" id="certificationTraduttoreSnippet" style="padding-top:30px;"></div>
</div>