<div class="background-default" style="min-height:100vh;margin-top:100px;">
  <div class="row_shadow" style="padding: 40px 0px 40px 0px;">
    <div style="margin-left:30px;">
      <div style="float:left;"><h2>TRANSLATOR PROFILE</h2></div>
      <form name="sendAJobForm" ng-submit="" novalidate>
        <div style="float:left;" class="text-right col-sm-2">
          <a href="#/send_a_job/{{traduttoreDetail.ID}}" class="btn btn-lg btn-default">
            <i class='fa fa-envelope'/> Send a Job
          </a>
        </div>
      </form>
      <div class="clearfix"/>
    </div>
    <div class="row_shadow">
      <div class="row row-eq-height">
        <div id="item_first_row_list" class="col-xs-2">

          <div id="container_image_profile">
            <img class="thumb_img" width="180" height="180" ng-src="data:image/jpeg;base64,{{image}}"/>
          </div>
          <div style="pointer-events: none;margin:10px 40px 20px 40px;" id="div_rating"
               class="star-rating"
               star-rating rating-value="traduttoreDetail.RATING/traduttoreDetail.NUM_RATING" data-max="5">
          </div>
          <div class="text-center" ng-show="!showComments">
            <a style="cursor: pointer;" ng-click="showComments=true;">
              <i class="fa fa-plus"></i> show comments
            </a>
          </div>
          <div class="text-center" ng-show="showComments">
            <a style="cursor: pointer;" ng-click="showComments=false;">
              <i class="fa fa-minus"></i> hide comments
            </a>
          </div>
        </div>
        <div id="item_second_row_list" class="col-xs-4">
          <div class="row form-group">
            <label class="col-xs-5 control-label text-right">Name Surname:</label>
            <span class="col-sm-5">{{traduttoreDetail.NOME}} {{traduttoreDetail.COGNOME}}</span>

          </div>

          <!-- birthdayTraduttore -->
          <div class="form-group row">
            <label class="col-xs-5 control-label text-right">Birthday:</label>
            <span class="col-sm-5">{{traduttoreDetail.DATA_NASCITA | date:'dd/MM/yyyy'}}</span>
          </div>

          <!--  CITTA & COUNTRY -->
          <div class="form-group row">
            <label class="col-xs-5 control-label text-right">City:</label>
            <span class="col-sm-5">{{traduttoreDetail.CITTA}}, {{traduttoreDetail.PAESE}}</span>
          </div>

          <!-- MADRELINGUA -->
          <div class="form-group row">
            <label class="col-xs-5 control-label text-right">Mothertongue:</label>
            <span class="col-sm-5">{{traduttoreDetail.MADRELINGUA}}</span>
          </div>

          <!-- VAT NUMBER -->
          <div class="form-group row">
            <label class="col-xs-5 control-label text-right">VAT number:</label>
            <span class="col-sm-5">{{traduttoreDetail.VAT}}</span>
          </div>
        </div>

        <div class="col-xs-6" ng-show="showComments">
          <div class="row form-group">
            <label>Feedback:</label>
            <div ng-if="commentsAll != NULL">
              <ul class="list-group" style="overflow-y: scroll; max-height: 250px;">
                <li id="{{$index}}" ng-repeat="comment in commentsAll" ng-transclude-custom class="list-group-item">
                  <article>{{comment.COMMENTO}}</article>
                </li>
              </ul>
            </div>
            <div ng-if="commentsAll == NULL">
              <li class="list-group-item">
                <article>No comment yet</article>
              </li>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- LANGUAGE PAIR -->
  <div class="row_shadow" style="padding: 40px 0px 40px 0px;">
    <div style="margin-left:30px;">
      <h2>LANGUAGE PAIR</h2>
    </div>
    <div class="row_shadow">
      <div ng-if="pairList == NULL" class="alert alert-warning" role="alert">No pair list found</div>
      <div ng-if="pairList != NULL">
        <div id="{{$index}}" ng-repeat="pair in pairList">
          <div class="panel panel-default well col-md-7" style="opacity:0.9;">
            <div class="panel-body">
              <div class="row form-group">
                <!-- FROM -->
                <label class="col-xs-2 control-label text-right">From:</label>
                <span class="col-sm-3">{{pair.FROM}}</span>
                <!-- TO -->
                <label class="col-xs-2 control-label text-right">To:</label>
                <span class="col-sm-3">{{pair.TO}}</span>
              </div>
              <div class="row form-group">
                <!-- FIELD -->
                <label class="col-xs-2 control-label text-right">Field:</label>
                <span class="col-sm-3">{{pair.FIELD}}</span>
              </div>
              <div class="row form-group">
                <!-- SERVICES -->
                <label class="col-xs-2 control-label text-right">Service:</label>
                <span class="col-sm-3">{{pair.SERVICE}}</span>
              </div>
              <div class="row form-group">
                <!-- PRICE -->
                <label class="col-xs-2 control-label text-right">Price:</label>
                <span class="col-sm-3">{{pair.PRICE}}</span>

                <!-- CURRENCY -->
                <label class="col-xs-2 control-label text-right">Currency:</label>
                <span class="col-sm-3">{{pair.CURRENCY}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>


  <!-- EDUCATION -->
  <div class="row_shadow" style="padding: 40px 0px 40px 0px;">
    <div style="margin-left:30px;">
      <h2>EDUCATION</h2>
    </div>
    <div class="row_shadow">
      <div ng-if="educationList == NULL" class="alert alert-warning" role="alert">No education found</div>
      <div ng-if="educationList != NULL">
        <div id="{{$index}}" ng-repeat="education in educationList">
          <div class="panel panel-default well col-md-7" style="opacity:0.9;">
            <div class="panel-body">
              <div class="row form-group">
                <!-- INSTITUTE -->
                <label class="col-xs-2 control-label text-right">Institute:</label>
                <span class="col-sm-3">{{education.INSTITUTE}}</span>
                <!-- FIELD -->
                <label class="col-xs-2 control-label text-right">Field:</label>
                <span class="col-sm-3">{{education.FIELD}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- CERTIFICATION -->
  <div class="row_shadow" style="padding: 40px 0px 40px 0px;">
    <div style="margin-left:30px;">
      <h2>CERTIFICATION</h2>
    </div>
    <div class="row_shadow">
      <div ng-if="certificationList == NULL" class="alert alert-warning" role="alert">No certification found</div>
      <div ng-if="certificationList != NULL">
        <div id="{{$index}}" ng-repeat="certification in certificationList">
          <div class="panel panel-default well col-md-7" style="opacity:0.9;">
            <div class="panel-body">
              <div class="row form-group">
                <!-- INSTITUTE -->
                <label class="col-xs-2 control-label text-right">Institute:</label>
                <span class="col-sm-3">{{certification.INSTITUTE}}</span>
                <!-- DATE -->
                <label class="col-xs-2 control-label text-right">Date:</label>
                <span class="col-sm-3">{{certification.DATE | date:'dd/MM/yyyy'}}</span>
              </div>
              <div class="row form-group">
                <!-- CERTIFICATION -->
                <label class="col-xs-2 control-label text-right">Certification:</label>
                <span class="col-sm-3">{{certification.CERTIFICATION}}</span>
              </div>
              <div class="row form-group">
                <!-- LEVEL -->
                <label class="col-xs-2 control-label text-right">Level:</label>
                <span class="col-sm-3">{{certification.LEVEL}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
