<div id="login" class="login" ng-show="showLogin">
  <div class="panel panel-default well col-md-2 col-md-offset-10">
    <button type="button" class="close" scroll-on-click href="#intro" ng-click="$parent.showLogin=false;"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span><span class="sr-only">Close</span></button>
   ss
 </div>
</div>

<!-- Intro Header -->
<header id= "intro" class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 style="margin-top:30px;" class="brand-heading">Welcome to Explico</h1>
          <p class="intro-text">We have not a subhead</p>
          <div style="float:left;opacity:0.6;">
            <a role="button" scroll-on-click href="#registrazione_agenzia" class="btn btn-default btn-lg"> <i class="fa fa-angle-double-down animated"></i>&nbsp;Are you an agency?</a>
          </div>
          <div style="float:right;opacity:0.6;">
            <a role="button" scroll-on-click href="#registrazione_traduttore" class="btn btn-default btn-lg"><i class="text-right fa fa-angle-double-down animated"></i>&nbsp;Are you a translator?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Registrazione Agenzia Section -->
<section id="registrazione_agenzia" class="content-section text-center" ng-if="isShowRegistrazioneAgenzia">
  <div class="inner_div_registrazione_agenzia">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Registrazione Agenzia</h2>
        <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
        <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
      </div>
    </div>
  </div>
</section>

<!-- Registrazione Traduttori Section -->
<section id="registrazione_traduttore" class="content-section text-center" ng-if="isShowRegistrazioneTraduttore">
  <div class="inner_div_registrazione_traduttore">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Registrazione Traduttore</h2>
        <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
        <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="container content-section text-center">
 <div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>About Grayscale</h2>
    <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
    <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
    <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
  </div>
</div>
</section>

<!-- Privacy Section -->
<section id="privacy" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Privacy</h2>
      <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
      <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
      <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Start Bootstrap</h2>
      <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<nav class="navbar navbar-custom navbar-fixed-bottom" role="navigation">
  <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a scroll-on-click href="#intro">Home</a>
        </li>
        <li>
          <a scroll-on-click href="#about">About</a>
        </li>
        <li>
          <a scroll-on-click href="#privacy">Privacy</a>
        </li>
        <li>
          <a scroll-on-click href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>